<!DOCTYPE html>
<html>
<head>
	<title><%=username%></title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="cardGame.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="module" src="dashboard.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<%- include('./search_bar'); %>
</head>
<div class="container">
<body class="blue-grey darken-4">

	<div class="row">
		<div class="card-content blue-grey darken-3 col s5 ">
			<center>
			<h1 class="flow-Text"><%=username%></h1>	
                <input type="text" placeholder="nome del nuovo deck" class="input-field" name="deck">
                <button id="newDeck" class="waves-effect waves-light deep-orange lighten-1 btn z-depth-4">Nuovo</button>
                <form action='tradePage' method='get'>    
                    <button id='trade'>trade</button>
                </form>
			</center>	
		</div>
		<div class="card-content blue-grey darken-3 col s6 offset-s1">
			<h2>I tuoi deck</h2>	
		
			<ul id="deckList">
				<%for (var deck in decks)
				{
					%>
						<li>
							<button name="deckName" class="sameSize mazzo waves-effect waves-light deep-orange lighten-1 z-depth-4 btn"><%=decks[deck].name%></button>
						</li>
					<%
				}%>
			</ul>
		</div>
	</div>

	<div class="row blue-grey darken-3 z-depth-4">
		<center>
			<h2>Ultime partite</h2>
			<table class="centered blue-grey darken-3 z-depth-4 col s10 offset-s1">
				<tr>
					<th class="deep-orange darken-4">host</th>
					<th class="deep-orange darken-4">guest</th>
					<th class="deep-orange darken-4">lp host</th>
					<th class="deep-orange darken-4">lp Guest</th>
					<th class="deep-orange darken-4">winner</th>
				</tr>
					<%for (var game in games)
					{
						%>
							<tr>
								<th><%=games[game].host%></th>
								<th><%=games[game].guest%></th>
								<th><%=games[game].lpHost%></th>
								<th><%=games[game].lpGuest%></th>
								<th><%=games[game].winner%></th>
							</tr>
						<%
					}%>
				
			</table>
			<h2>Entra in una partita</h2>
				<input type="text" class="input-field col s6 offset-s2" placeholder="Inserisci l'id della partita" name="id">
				<button id="joinGame" class="waves-effect waves-light deep-orange lighten-1 btn z-depth-4">entra</button>
				<button id="createGame" class="waves-effect waves-light deep-orange lighten-1 btn z-depth-4">nuova partita</button>
		</center>
	</div>
		<h4 class="flow-text hide col s1" id="win"><%=win%></h4>
		<h4 class="flow-text hide col s1" id="lose"><%=lose%></h4>

	<div class="row">
		<div class="card-content blue-grey darken-3 col s5">
			<span class="title-card white-text">Winrate</span>
			<canvas id="winRate" width="100" height="100" class=""></canvas>
		</div>
		<div class="card-content blue-grey darken-3 col s5 offset-s2">
			<span class="title-card white-text">Utilizzo mazzi</span>
			<canvas id="used" width="100" height="100" class=""></canvas>
		</div>
	</div>
		
	</div>

	<%for (count in used)
	{
		%>
			<h1 class="counter hide"><%=used[count]%></h1>
		<%
	}%>
	
</div>
</body>
</html>
