<!DOCTYPE html>
<html>
<head>
	<title><%=username%></title>
	<link rel="stylesheet" type="text/css" href="cardGame.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="deck.js"></script>
</head>
<body>
	<h1 id="deckId"><%=deck%></h1>
	<ul>
	<%for (var card in cards)
		{
			%>
				<li>
					<p><%=cards[card].name%> x <%=cards[card].copies%></p>					
				</li>
			<%
		}%>
	</ul>
	<h3> totale carte: <%=size%></h3>
	<h3><%=spells%>x magie</h3>
	<h3><%=traps%>x trappole</h3>
	<h3><%=normalMonsters%>x mostri normali</h3>
	<h3><%=effectMonsters%>x mostri con effetto</h3>
	<h3><%=tunerMonsters%>x mostri tuner</h3>
	<h3><%=synchroMonsters%>x mostri synchro</h3>
	<h1>ricerca una carta</h1>
	<span id="preview"></span><span id="buttonsSpan"></span><br>
	<input type="text" placeholder="nome della carta" id="cardName">
	<button id="find" class="button">find</button>
</body>
</html>