<!DOCTYPE html>
<html>
<head>
	<title><%=username%></title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="cardGame.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="deck.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="blue-grey darken-4">
<div class="container">
	<h5 id="win" class="blue-grey darken-3 col s6 hide"><%=win%></h5>
			<h5 id="lose" class="blue-grey darken-2 col s6 hide"><%=lose%></h5>
	<div class="row blue-grey darken-3">
		<center>
			<h1 id="deckId"><%=deck%></h1>
			
		</center>
	</div>

	<table class="centered blue-grey darken-3 z-depth-4 col s10 offset-s1 cardList">
			<tr>
				<th class="deep-orange darken-4">nome</th>
				<th class="deep-orange darken-4">atk</th>
				<th class="deep-orange darken-4">def</th>
				<th class="deep-orange darken-4">lv</th>
				<th class="deep-orange darken-4">tipo</th>
				<th class="deep-orange darken-4">copie</th>
			</tr>
			<%for (var card in cards)
				{%>
						<tr>
							<th><%=cards[card].name%></th>
							<th><%=cards[card].atk%></th>
							<th><%=cards[card].def%></th>
							<th><%=cards[card].level%></th>
							<th><%=cards[card].type%></th>
							<th>x<%=cards[card].copies%></th>
						</tr>
					<%
				}%>
			</table><br>
	
	<div class="row">
		<div class="card-content blue-grey darken-3 col s5">
			<span class="card-title white-text">Componenti</span>
			<canvas id="deckCards" width="100" height="100"></canvas>
		</div>
		<div class="card-content blue-grey darken-3 col s5 offset-s2">
			<span class="card-title white-text">Winrate</span>
			<canvas id="winRate" width="100" height="100"></canvas>
		</div>
	</div>
			<div class="row">
				<table class="centered blue-grey darken-3 z-depth-4 col s10 offset-s1 cardList">
					<tr>
						<th class="deep-orange darken-4">magie</th>
						<th class="deep-orange darken-4">trappole</th>
						<th class="deep-orange darken-4">normali</th>
						<th class="deep-orange darken-4">mostri effetto</th>
						<th class="deep-orange darken-4">mostri tuner</th>
						<th class="deep-orange darken-4">extra deck</th>
						<th class="deep-orange darken-4">totale</th>
					</tr>
					<tr>
						<th id="spells"><%=spells%></th>
						<th id="traps"><%=traps%></th>
						<th id="normalMonsters"><%=normalMonsters%></th>
						<th id="effectMonsters"><%=effectMonsters%></th>
						<th id="tunerMonsters"><%=tunerMonsters%></th>
						<th id="extra"><%=synchroMonsters%></th>
						<th id="totalMonsters"><%=totalCards%></th>
						
					</tr>
				</table>
				<center>
					<button class="waves-effect waves-light deep-orange darken-4 btn z-depth-4" id="delete">Elimina mazzo</button>
				</center>
			</div>
		</center>
	</div>
	<div class="row blue-grey darken-3">
		<center>
			<h1 class="flow-text">ricerca una carta</h1>
			<div id="preview" class="col s4"></div>
			<div class="col s5 offset-s1">
				<input type="text" class="input-field" placeholder="nome della carta" id="cardName">
			<button id="find" class="flow-text waves-effect waves-light deep-orange lighten-1 btn z-depth-4">trova</button>
			</div>
			<span id="buttonsSpan" class="col s6"></span>		
		
	</div>

</div>
</body>
</html>